# Employment Progression Model - a proxy for income growth?

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [23]:
# [yrs in role until promotion, probability of promotion, yearly income]
employ_stages = {'JE': [5, 1, 60000], 'SE': [5, 0.8, 90000], 'PE': [10, 0.5, 120000],
                  'EM': [5, 0.01, 140000], 'CTO': [5, 0.001, 200000], 'CEO': [2, 0.00025, 500000]}

In [24]:
employ_stages['JE']

[5, 1, 60000]

In [25]:
def employ_sim(iters=250):
    
    cat = 'EM'
    
    for i in range(iters):
        data = {'year': list(range(30))}
        df = pd.DataFrame(data)
        for key, value in employ_stages.items():
            df[key] = np.random.binomial(1,value[1], len(df))
        cat_count = sum(df[cat])
        if cat_count > 0:
            print(f'Sim {i+1} | Years in {cat} role: {cat_count}')

In [26]:
employ_sim()

Sim 5 | Years in EM role: 1
Sim 8 | Years in EM role: 1
Sim 15 | Years in EM role: 1
Sim 23 | Years in EM role: 1
Sim 26 | Years in EM role: 1
Sim 32 | Years in EM role: 1
Sim 33 | Years in EM role: 1
Sim 34 | Years in EM role: 1
Sim 37 | Years in EM role: 1
Sim 40 | Years in EM role: 1
Sim 43 | Years in EM role: 1
Sim 44 | Years in EM role: 1
Sim 48 | Years in EM role: 2
Sim 58 | Years in EM role: 1
Sim 63 | Years in EM role: 1
Sim 64 | Years in EM role: 1
Sim 67 | Years in EM role: 1
Sim 72 | Years in EM role: 1
Sim 85 | Years in EM role: 1
Sim 92 | Years in EM role: 1
Sim 94 | Years in EM role: 1
Sim 95 | Years in EM role: 1
Sim 99 | Years in EM role: 1
Sim 103 | Years in EM role: 1
Sim 105 | Years in EM role: 2
Sim 107 | Years in EM role: 1
Sim 108 | Years in EM role: 1
Sim 114 | Years in EM role: 1
Sim 130 | Years in EM role: 1
Sim 131 | Years in EM role: 1
Sim 141 | Years in EM role: 1
Sim 145 | Years in EM role: 2
Sim 154 | Years in EM role: 1
Sim 155 | Years in EM role: 1
Sim 157 | Years in EM role: 1
Sim 158 | Years in EM role: 1
Sim 165 | Years in EM role: 1
Sim 172 | Years in EM role: 1
Sim 175 | Years in EM role: 1
Sim 177 | Years in EM role: 1
Sim 178 | Years in EM role: 1
Sim 181 | Years in EM role: 1
Sim 182 | Years in EM role: 1
Sim 189 | Years in EM role: 1
Sim 193 | Years in EM role: 2
Sim 202 | Years in EM role: 1
Sim 205 | Years in EM role: 1
Sim 206 | Years in EM role: 1
Sim 208 | Years in EM role: 1
Sim 214 | Years in EM role: 1
Sim 216 | Years in EM role: 1
Sim 217 | Years in EM role: 1
Sim 219 | Years in EM role: 1
Sim 225 | Years in EM role: 1
Sim 226 | Years in EM role: 2
Sim 228 | Years in EM role: 2
Sim 231 | Years in EM role: 1
Sim 232 | Years in EM role: 1
Sim 233 | Years in EM role: 1
Sim 234 | Years in EM role: 1
Sim 243 | Years in EM role: 1
Sim 249 | Years in EM role: 1
Sim 250 | Years in EM role: 1

In [27]:
data = {'year': list(range(30))}
df = pd.DataFrame(data)
for key, value in employ_stages.items():
        df[key] = np.random.binomial(1,value[1], len(df))

In [28]:
df.head()

   year  JE  SE  PE  EM  CTO  CEO
0     0   1   1   1   0    0    0
1     1   1   1   0   0    0    0
2     2   1   1   1   0    0    0
3     3   1   0   1   0    0    0
4     4   1   1   0   0    0    0

In [33]:
employ_stages['JE'][0]

5

In [35]:
df['JE'].rolling(employ_stages['JE'][0]).sum() == employ_stages['JE'][0]

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
Name: JE, dtype: bool

In [36]:
df_je_mask = df['JE'].rolling(employ_stages['JE'][0]).sum() == employ_stages['JE'][0]

In [37]:
df['SE'] * df_je_mask

0     0
1     0
2     0
3     0
4     1
5     1
6     1
7     1
8     1
9     0
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    0
21    1
22    1
23    0
24    1
25    1
26    1
27    1
28    1
29    1
dtype: int32

In [38]:
df_se = df['SE'] * df_je_mask

In [39]:
df_se.rolling(employ_stages['SE'][0]).sum() == employ_stages['SE'][0]

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28     True
29     True
dtype: bool

In [40]:
df_se_mask = df_se.rolling(employ_stages['SE'][0]).sum() == employ_stages['SE'][0]

In [41]:
df['PE'] * df_se_mask

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    1
15    0
16    1
17    1
18    1
19    1
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int32

## fuck this... Markov Chain it is...

### Once a role has been acheived, its probablity goes to 1...